.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 10, 22);
}

.lyrics-box {
  position: relative;
  padding: 20px;
  background-color: #ecc0c0; 
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background-color: rgb(250, 245, 245);
  border-radius: 50%;
  padding: 5px;
  z-index: 1; 
}

.close-icon {
  font-size: 30px; 
  color: white; 
}

.lyrics-large {
  font-size: 50px;
 text-align: center;
  padding: 10px; 
}
